* { 
    margin: 0;
    padding: 0;

 }

/*stylos 2da pre entrega*/

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

/*header*/
@media (max-width: 2000px) {
  .flex-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: black;
    z-index: 1000;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    

    padding-left: 5px;
  }

  .logo img {
    max-height: 100px;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .iconos img {
    width: 30px;
    margin-left: 10px;
  }

  .texto-iconos {
    font-size: large;
    font-family: "Times New Roman", Times, serif;
    color: yellow;
  }

  .navegacion {
    background-color: black;
    padding-right: 20px;
    padding-top: 4px;
    
  }

  .navegacion ul {
    list-style-type: none;
  }
  .nagegacion ul li {
    display: block;
    gap: 5px;
  }
  .navegacion ul li a {
    font-family: cursive;
    font-size: medium;
    color: yellow;
    text-decoration: none;
    
  }

  .navegacion ul li a:hover {
    background-color: blue;
  }

  .miClaseButon {
    margin-bottom: 3px;
  }
  
}



@media (min-width: 0px) and (max-width: 480px) {
  .flex-container {
    position: fixed;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .iconos {
    display: none;
  }
  .navegacion {
    display: none;
  }
}

/*main*/

@media (max-width: 2000px) {
  main {
    background-color: yellow;
    height: 70%;
    margin-top: 110px;
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  main {
    background-color: black;
    height: 70%;
    margin: 15px 3px 3px 3px;
  }
}

/*mixin titulo principal desktop*/


@mixin estilo-tituloPrincipal-desktop {

  text-align: center;
  margin: 1px;
  padding-top: 80px;
  font-family: "PermanentMarker-Regular";
  src: url("../fonts/PermanentMarker-Regular.ttf");
  font-weight: bold;
  
}


@media (max-width: 2000px) {

.tituloPrincipal {
  @include estilo-tituloPrincipal-desktop;
}
}

.subtitulo {
  text-align: center;
  padding-top: 10px;
  padding-left: 4px;
  font-size: medium;
  font-family: " sora ";
  src: url("../fonts/Sora-VariableFont_wght.ttf");
  font-weight: bold;
}

.texto {
  text-align: center;
  color: white;
}

.lista-art {
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  border-radius: 2px;
}

.list-art2 {
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  border-radius: 2px;
}

.lista-art li:hover {
  background-color: white;
}



/*mixin titulo principal mobile*/ 


@mixin estilo-tituloPrincipal-mobile {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "PermanentMarker-Regular";
    src: url("../fonts/PermanentMarker-Regular.ttf");
    font-weight: bold;
    background: linear-gradient(to bottom, orange, white);
    border-radius: 3px;
    margin-top: 100px;
    padding-bottom: 60px;


}

@media (min-width: 0px) and (max-width: 480px) {
  .tituloPrincipal {
    @include estilo-tituloPrincipal-mobile;
  }
}

@mixin estilo-subtitulo-mobile {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: large;
  font-family: " sora ";
  src: url("../fonts/Sora-VariableFont_wght.ttf");
  font-weight: bold;
  background: linear-gradient(to bottom, white,orange);
  margin-top: 5px;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

  .subtitulo {
    
    @include estilo-subtitulo-mobile;
  }


@media (max-width: 2000px) {
  .flex-section {
    display: grid;

    grid-template-columns: 40% 40% 20%;
    grid-template-areas: "sections sections2 aside-index";
    column-gap: 3px;
    padding-left: 5px;
    padding-right: 15px;
  }

  .aside-index {
    background-color: yellow;
    grid-area: aside-index;
  }

  
  .sections {
    background-color: yellow;
    grid-area: sections;
    height: auto;
    max-width: 100%;
    background-color: yellow;
    border: solid black;
  }

  .sections2 {
    background-color: yellow;
    grid-area: sections2;

    height: auto;
    max-width: 100%;
    background-color: yellow;
    border: solid black;
  }

  .sections img {
    width: 100%;
    height: 65%;

    border-bottom-style: dotted;
  }

  .sections2 img {
    width: 100%;
    height: 65%;
    border-bottom-style: dotted;
  }

  .textotarj1 {
    text-align: center;
    box-sizing: border-box;
    padding: 2px 2px 2px 2px;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
  }

  .textotarj2 {
    text-align: center;
    box-sizing: border-box;
    padding: 2px 2px 2px 2px;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
  }

  .aside-index {
    border: solid black;
    text-align: justify;
    align-content: center;
    padding-left: 4px;
    padding-right: 4px;
  }

  .aside-index p {
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
  }
}

@media (min-width: 0px) and (max-width: 480px) {



  .flex-section {
      display: grid;
  
      grid-template-rows: 10% 45% 45%;
      grid-template-columns: auto;
  
      grid-template-areas:
        "aside-index"
        "sections"
        "sections2";
      row-gap: 3px;
      padding-left: 5px;
      padding-right: 5px;
      
      padding-top: 12px;
      background-color: black;
    
      
      

  
  }

@mixin estilo-aside-mobile {

  background: linear-gradient(to bottom, grey 10%, white 70%) ;
}

  .aside-index {
    @include estilo-aside-mobile;
    grid-area: aside-index;
    border-radius: 5px;
    border: 3px solid orange;
    
  }

  .sections {
    
    grid-area: sections;
    height: auto;
    max-width: 100%;
    border: none;
    margin-top: 10px;
    background-color: black;
      
  }

  .sections2 {
    grid-area: sections2;
    height: auto;
    max-width: 100%;
    border: none;
    margin-bottom: 20px;
    background-color: black;
    

    
    
    
  }

  .sections img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 5px solid grey;
    
    
    
  }

  .sections2 img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 5px solid grey;
  
    margin-top: 10px;
    

    
  }

  .textotarj1 {
    text-align: center;
    box-sizing: border-box;
    
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    font-size: 25px;
    color: white;
    background-color: red;
    border-radius: 5px;
    border: 2px solid black;
    margin: 5px 5px 10px 10px;

  }

  .textotarj2 {
    text-align: center;
    box-sizing: border-box;
    
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    font-size: 25px;
    color: white;
    background-color: red;
    border-radius: 5px;
    border: 2px solid black;
    margin: 5px 5px 10px 10px;
    
  }

  .aside-index {
    text-align: center;
    align-content: center;
    padding-left: 4px;
    padding-right: 4px;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    color: black;
    font-size: 25px bold;
    
  }

  .aside-index p {
    font-family: cursive;
  }
}

@media (max-width: 2000px) {
  .flex-sections2 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: "sections3 sections4 sections5";

    column-gap: 3px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .sections3 {
    grid-area: sections3;
    max-width: 100%;
    border-right: solid black;
    border-top: solid black;
    border-left: solid black;
    border-bottom: dotted;
  }

  .sections4 {
    grid-area: sections4;
    max-width: 100%;

    border-left: solid black;
    border-right: solid black;
    border-top: solid black;
    border-bottom: dotted;
  }

  .sections5 {
    grid-area: sections5;
    max-width: 100%;
    border-left: solid black;
    border-right: solid black;
    border-bottom: dotted;
  }

  .sections3 img {
    width: 100%;
    height: 65%;
    border-bottom-style: dotted;
  }

  .sections4 img {
    width: 100%;
    height: 65%;
    border-bottom-style: dotted;
  }

  .sections5 img {
    width: 100%;
    height: 65%;
    border-bottom-style: dotted;
  }

  .textotarj3 {
    text-align: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
  }

  .textotarj4 {
    text-align: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
  }

  .textotarj5 {
    text-align: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  .flex-sections2 {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-template-areas:
      "sections3"
      "sections4"
      "sections5";

    row-gap: 4px;
    margin-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
  }

  .sections3 {
    grid-area: sections3;
    max-width: 100%;
    border: none;
    
    
  }

  .sections4 {
    grid-area: sections4;
    max-width: 100%;

    border: none;
    
  }

  .sections5 {
    grid-area: sections5;
    max-width: 100%;
    border: none;
    margin-bottom: 10px;
  }

  .sections3 img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 5px solid grey;
  }

  .sections4 img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 5px solid grey;
  }

  .sections5 img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 5px solid grey;
  }

  .textotarj3 {
    text-align: center;
    box-sizing: border-box;
    
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    font-size: 25px;
    color: white;
    background-color: red;
    border-radius: 5px;
    border: 2px solid black;
    margin: 5px 5px 10px 10px;
  }

  .textotarj4 {
    text-align: center;
    box-sizing: border-box;
    
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    font-size: 25px;
    color: white;
    background-color: red;
    border-radius: 5px;
    border: 2px solid black;
    margin: 5px 5px 10px 10px;
  }

  .textotarj5 {
    text-align: center;
    box-sizing: border-box;
    
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    font-size: 25px;
    color: white;
    background-color: red;
    border-radius: 5px;
    border: 2px solid black;
    margin: 5px 5px 10px 10px;
  }
}

@media (max-width: 2000px) {
  .marcas {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: "marca1 marca2 marca3 marca4";
    column-gap: 2px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 12px;
  }

  .marca1 {
    grid-area: marca1;
    border: solid black;
  }

  .marca2 {
    grid-area: marca2;
    border: solid black;
  }

  .marca3 {
    grid-area: marca3;
    border: solid black;
  }

  .marca4 {
    grid-area: marca4;
    border: solid black;
  }

  .marca1 img {
    width: 100%;
    height: 65%;
    border-bottom: dotted;
  }

  .marca2 img {
    width: 100%;
    height: 65%;
    border-bottom: dotted;
  }

  .marca3 img {
    width: 100%;
    height: 65%;
    border-bottom: dotted;
  }

  .marca4 img {
    width: 100%;
    height: 65%;
    border-bottom: dotted;
  }
  .textomarca1 {
    text-align: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
  }

  .textomarca2 {
    text-align: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
  }

  .textomarca3 {
    text-align: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
  }

  .textomarca4 {
    text-align: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  .marcas {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 50% auto;
    grid-template-areas:
      "marca1 marca2"
      "marca3 marca4";
    column-gap: 2px;
    row-gap: 2px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .marca1 {
    grid-area: marca1;
    border: solid black;
  }

  .marca2 {
    grid-area: marca2;
    border: solid black;
  }

  .marca3 {
    grid-area: marca3;
    border: solid black;
    margin-bottom: 3px;
  }

  .marca4 {
    grid-area: marca4;
    border: solid black;
    margin-bottom: 3px;
  }

  .marca1 img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 3px solid grey;
  }

  .marca2 img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 3px solid grey;
    
  }

  .marca3 img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 3px solid grey;
    
  }

  .marca4 img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 3px solid grey;
    
  }
  .textomarca1 {
    text-align: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    color: white;
  }

  .textomarca2 {
    text-align: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    color: white
  }

  .textomarca3 {
    text-align: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    color: white;
  }

  .textomarca4 {
    text-align: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    color: white;
  }
}

@media (max-width: 2000px) {
  .footer-resp {
    display: none;
  }
  .footer-desktop {
    background-color: black;
    width: 100%;
    

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2px;

  }

  .cajas {
    border: solid black;
    max-width: 100%;
    padding: 2%;
  }

  .icono {
    width: 30px;
    height: auto;
  }

  .texto-footer {
    color: yellow;
    font-family: cursive;
    font-size: small;
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  .footer-desktop {
    display: none;
  }
  .footer-resp {
    position: static;
    background-color: black;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }
  .nav-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

  }
 

 .btn-hamburguesa {
    background-color: yellow;
    color: black;
    margin-top: 3px;
    


 }
  .iconoss {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }

  .iconosss {
    width: 50px;
    height: 50px;
  }

  .iconitos {
    height: 25px;
    width: 25px;
  }
  .text-span-resp {
    font-size: x-small;
    text-align: center;
    color: white;
  }
}

/*css de la página NOSOTROS a partir de aquí*/

/*tanto el header como el footer, repiten para desktop como para responsive*/

@media (max-width: 2000px) {
  .section-nosotros {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: "article-nosotros comentario";
    column-gap: 3px;

    padding-left: 3px;
    padding-right: 8.5px;
  }

  .article-nosotros {
    grid-area: article-nosotros;
    border-top: solid black;
    border-left: solid black;
    border-right: solid black;
    border-bottom: dotted;
  }

  .comentario {
    grid-area: comentario;
    border-top: solid black;
    border-bottom: dotted;
    border-right: solid black;
    border-left: solid black;
    display: flex;
  }

  .parrafo-nosotros {
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
  }

  .parrafo-aside {
    justify-content: center;
    align-content: center;
    padding-left: 3%;
    padding-right: 2px;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  .section-nosotros {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 70% auto;
    grid-template-areas:
      "article-nosotros"
      "comentario";
    row-gap: 3px;

    padding-left: 3px;
    padding-right: 8.5px;
  }

  .article-nosotros {
    grid-area: article-nosotros;
    border-top: solid black;
    border-left: solid black;
    border-right: solid black;
    border-bottom: solid black;
    overflow: auto;
  }

  .comentario {
    grid-area: comentario;
    border-top: solid black;
    border-bottom: dotted;
    border-right: solid black;
    border-left: solid black;
    display: flex;
    max-height: 100%;
  }

  .parrafo-nosotros {
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
  }

  .parrafo-aside {
    justify-content: center;
    align-content: center;
    padding-left: 3%;
    padding-right: 2px;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
  }
}

@media (max-width: 2000px) {
  .padreImg {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "loc1 loc2";
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 5px;
  }

  .loc1 {
    grid-area: loc1;
    border-left: solid black;
    border-top: solid black;
    border-right: solid black;
    border-bottom: solid black;
    margin-right: 2px;
    margin-bottom: 2px;
  }

  .loc2 {
    grid-area: loc2;
    border-left: solid black;
    border-right: solid black;
    border-top: solid black;
    border-bottom: solid black;
    margin-left: 2px;
    margin-bottom: 2px;
  }

  .imglocal1 {
    width: 100%;
    height: 65%;
    border-bottom: dotted;
  }

  .imglocal2 {
    width: 100%;
    height: 65%;
    border: dotted;
  }
}

.parrafo-imagenes {
  text-align: center;

  padding-left: 3px;
  padding-right: 3px;
  font-family: "Archivo negro";
  src: url("../fonts/ArchivoBlack-Regular.ttf");
}

/*CSS DE LA PÁGINA OFERTAS A PARTIR DE AQUÍ*/

.conteinerVideo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(122, 122, 113);
  padding-top: 15px;
  padding-bottom: 15px;
}

.divV {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.video {
  width: 60vw;
  height: 50vh;
  border-radius: 15;
}

.divCO {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: 
  "tarjO tarj1 tarj2"
  "tarj3 tarj4 tarj5";
  background-color: aqua;
  padding: 4px 4px 4px 4px;
  gap: 5px;
}

.tarjO {
  grid-area: tarjO;
  background-color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarj1 {
  grid-area: tarj1;
  background-color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarj2 {
  grid-area: tarj2;
  background-color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarj3 {
    grid-area: tarj3;
    background-color: black;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}.tarj4 {
    grid-area: tarj4;
    background-color: black;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.tarj5 {
    grid-area: tarj5;
    background-color: black;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.imgO {
  width: 30vw;
  height: 30vh;
  border-radius: 15px;
}

.ptarjO {
  text-align: center;
  justify-content: center;
}

.boton {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  background-color: red;
  
}

.boton:hover {
    background-color: green;
}

.conteinerbootstrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 224, 216);
    padding: 10px 10px 10px 10px;
    gap: 10px;
    
}

.mi-otra-clase {

    background-color: red;
    border-radius: 15px;
    
}

.pcolBootstrap {
    text-align: center;
}


/*Página UBICACIÓN A PARTIR DE AQUÍ*/

.sectionUbi {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 142, 142);

}

.articleUbi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.pUbi {
    text-align: center;
    padding-top: 10px;


}


.mapaUbi {
    border-radius: 10px;
    height: 40vh;
    width: 80vh;


}


.mi-conteinerUbi { 
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "mi-cardUbi mi-cardUbi1";
    gap: 1px;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 5px 5px 5px;
    background-color: aqua;


}

.mi-cardUbi {

    grid-area: mi-cardUbi;
    margin: 5px 5px 5px 5px;
    background-color: black;
    padding: 2px 2px 2px 2px;
    
    
    


}

.mi-cardUbi1 {

    grid-area: mi-cardUbi1;
    margin: 5px 5px 5px 5px;
    background-color: black;
    padding: 2px 2px 2px 2px;
    
    

}

.imgUbi {
    height: 50vh;
    width: auto;
    padding: 2px 2px 2px 2px;
    border-radius: 6px;
    background-color: black;

}


.card-body-Ubi {
    background-color: yellow;


}

.mi-h5 {
    text-align: center;
    text-justify: auto;


}

.card-p-Ubi {
    text-align: center;


}

.asideUbi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellowgreen;
    width: 75vw;
    height: auto;
    border-radius: 3px;
    margin: 3px 3px 3px 3px;
}

.mi-Row-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px 2px 2px 2px;
}

.mi-otra-col-p {

    display: flex;
    background-color: red;
    margin: 2px 2px 2px 2px;
    border-radius: 2px;
    padding: 5px 5px 5px 5px;
}

.p-aside-Ubi {
    text-align: center;
    text-justify: center;
    font-size: medium;
}

/*a partir de aquí página contactos y pedidos*/

.div-contactos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

.p-contactos {
    margin: 5px 5px 5px 5px;
    background-color: white;
    border-radius: 3px;
    padding: 3px 3px 3px 3px;
    font-size: large;
}

.conteiner-form {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white(46, 45, 45);
    margin: 8px 8px 8px 8px;
    border-radius: 5px;
    background-color: burlywood;
    padding: 10px 10px 10px 10px;
    
    
}

.mi-btn-form {
    color: black;
    background-color: white;
    border: black;
}

.mi-btn-form:hover {
    background-color: cornflowerblue;
}

.conteiner2-cyp {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
    "caja-conteiner2 caja-conteiner3";
    gap: 5px;

    
}

.caja-conteiner2 {

    grid-area: caja-conteiner2;
    padding: 5px 5px 5px 5px;
    background-color: aqua;
    border-radius: 5px;
    margin: 15px 15px 20px 15px;
}

.caja-conteiner3 {

    grid-area: caja-conteiner3;
    padding: 5px 5px 5px 5px;
    background-color: aqua;
    border-radius: 5px;
    margin: 15px 15px 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.p-conteiner2-cyp {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
