* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

/*header*/
@media (max-width: 2000px) {
  .flex-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
  }
  .logo img {
    max-height: 100px;
    border-radius: 3px;
    margin: 5px 0;
  }
  .iconos img {
    width: 30px;
    margin-left: 10px;
  }
  .texto-iconos {
    font-size: large;
    font-family: "Times New Roman", Times, serif;
    color: white;
  }
  .navegacion {
    background-color: black;
    padding-right: 20px;
    padding-top: 4px;
  }
  .navegacion ul {
    list-style-type: none;
  }
  .navegacion ul li {
    display: block;
    gap: 5px;
  }
  .navegacion ul li a {
    font-family: cursive;
    font-size: xx-small;
    color: black;
    text-decoration: none;
    height: 3vh;
  }
  .navegacion ul li a:hover {
    background-color: cornflowerblue;
    transition-delay: 1s;
  }
  .navegacion .miClaseButon {
    margin-bottom: 3px;
    background-color: orange;
    border-radius: 2px;
    border: 1px solid black;
  }
  .nav-responsive {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 480px) {
  .flex-container {
    justify-content: space-between;
    align-items: center;
  }
  .flex-container .logo {
    margin: 4px 0;
  }
  .flex-container .iconos {
    display: none;
  }
  .flex-container .navegacion {
    display: none;
  }
  .flex-container .nav-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }
  .flex-container .nav-responsive .enlace-hamburguesa {
    color: white;
  }
  .flex-container .nav-responsive .enlace-hamburguesa:hover {
    color: orange;
  }
}
/*main*/
@media (max-width: 2000px) {
  main {
    background-color: black;
    height: 60%;
    margin-top: 14vh;
  }
}
@media (min-width: 0px) and (max-width: 480px) {
  main {
    background-color: black;
    height: 60%;
    margin-top: 14vh;
  }
}
/* Mixin titulo principal desktop */
@media (max-width: 2000px) {
  .tituloPrincipal {
    text-align: center;
    border-radius: 5px;
    margin-top: 17vh;
    padding-top: 12vh;
    font-family: "PermanentMarker-Regular";
    font-size: 1.5rem;
    src: url("../fonts/PermanentMarker-Regular.ttf");
    font-weight: bold;
    background: linear-gradient(to bottom, orange 10%, white);
  }
}
.subtitulo {
  text-align: center;
  font-size: medium;
  font-family: " sora ";
  src: url("../fonts/Sora-VariableFont_wght.ttf");
  font-weight: bold;
  font-size: 1rem;
}

.texto {
  text-align: center;
  color: white;
}

.lista-art {
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  border-radius: 2px;
}

.list-art2 {
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  border-radius: 2px;
}

.lista-art li:hover {
  background-color: white;
}

/* Mixin titulo principal mobile */
@media (min-width: 0px) and (max-width: 480px) {
  .tituloPrincipal {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "PermanentMarker-Regular";
    src: url("../fonts/PermanentMarker-Regular.ttf");
    font-weight: bold;
    background: linear-gradient(to bottom, orange, white);
    border-radius: 3px;
    margin-top: 15vh;
    padding-top: 12vh;
  }
}
/* Mixin subtitulo mobile */
.subtitulo {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: large;
  font-family: " sora ";
  src: url("../fonts/Sora-VariableFont_wght.ttf");
  font-weight: bold;
  background: linear-gradient(to bottom, white, orange);
  margin-top: 5px;
  border-radius: 3px;
  padding: 5px;
}

@media (max-width: 2000px) {
  .flex-section {
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-template-areas: "sections sections2 aside-index";
    column-gap: 3px;
    padding-left: 5px;
    padding-right: 15px;
  }
  .flex-section .aside-index {
    background-color: black;
    grid-area: aside-index;
    border: none;
    text-align: justify;
    align-content: center;
    padding-left: 4px;
    padding-right: 4px;
    height: auto;
  }
  .flex-section .aside-index p {
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    color: white;
  }
  .flex-section .sections {
    background-color: yellow;
    grid-area: sections;
    max-width: 100%;
    background-color: black;
    display: inline-block;
    height: fit-content;
  }
  .flex-section .sections img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 3px solid grey;
  }
  .flex-section .sections2 {
    background-color: black;
    grid-area: sections2;
    max-width: 100%;
    display: inline-block;
    height: fit-content;
  }
  .flex-section .sections2 img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 3px solid gray;
  }
  .flex-section .textotarj1, .flex-section .textotarj2 {
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 2px;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    color: white;
    background-color: red;
    border-radius: 5px;
    border: 2px solid black;
    margin: 5px 10px;
    font-size: 15px;
  }
}
@media (min-width: 0px) and (max-width: 480px) {
  .flex-section {
    display: grid;
    grid-template-rows: 10% 45% 45%;
    grid-template-columns: auto;
    grid-template-areas: "aside-index" "sections" "sections2";
    row-gap: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 12px;
    background-color: black;
    margin-bottom: 5px;
    /*mixin*/
  }
  .flex-section .aside-index {
    background: linear-gradient(to bottom, grey 10%, white 70%);
    grid-area: aside-index;
    border-radius: 5px;
    border: 3px solid black;
    text-align: center;
    align-content: center;
    padding-left: 4px;
    padding-right: 4px;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    color: black;
    font-size: 15px bold;
  }
  .flex-section .aside-index p {
    font-family: cursive;
    color: black;
  }
  .flex-section .sections {
    grid-area: sections;
    height: auto;
    max-width: 100%;
    border: none;
    margin-top: 10px;
    background-color: black;
    display: inline-block;
    height: fit-content;
  }
  .flex-section .sections img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 5px solid grey;
  }
  .flex-section .sections2 {
    grid-area: sections2;
    height: auto;
    max-width: 100%;
    border: none;
    margin-bottom: 30px;
    background-color: black;
    display: inline-block;
    height: fit-content;
  }
  .flex-section .sections2 img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 5px solid grey;
    margin-top: 10px;
  }
  .flex-section .textotarj1 {
    text-align: center;
    box-sizing: border-box;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    font-size: 15px;
    color: white;
    background-color: red;
    border-radius: 5px;
    border: 2px solid black;
    margin: 5px 5px 10px 10px;
  }
  .flex-section .textotarj2 {
    text-align: center;
    box-sizing: border-box;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    font-size: 15px;
    color: white;
    background-color: red;
    border-radius: 5px;
    border: 2px solid black;
    margin: 5px 5px 10px 10px;
  }
}
@media (max-width: 2000px) {
  .flex-sections2 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: "sections3 sections4 sections5";
    column-gap: 3px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .flex-sections2 .sections3 {
    grid-area: sections3;
    max-width: 100%;
    background-color: black;
    display: inline-block;
    height: fit-content;
  }
  .flex-sections2 .sections3 img {
    width: 100%;
    height: 55%;
    border-radius: 5px;
    border: 3px solid grey;
  }
  .flex-sections2 .sections4 {
    grid-area: sections4;
    max-width: 100%;
    background-color: black;
    display: inline-block;
    height: fit-content;
  }
  .flex-sections2 .sections4 img {
    width: 100%;
    height: 55%;
    border-radius: 5px;
    border: 3px solid grey;
  }
  .flex-sections2 .sections5 {
    grid-area: sections5;
    max-width: 100%;
    background-color: black;
    display: inline-block;
    height: fit-content;
  }
  .flex-sections2 .sections5 img {
    width: 100%;
    height: 55%;
    border-radius: 5px;
    border: 3px solid grey;
  }
  .flex-sections2 .textotarj3,
  .flex-sections2 .textotarj4,
  .flex-sections2 .textotarj5 {
    text-align: center;
    justify-content: center;
    padding: 2px;
    box-sizing: border-box;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    font-size: 15px;
    color: white;
    background-color: red;
    border-radius: 5px;
    border: 2px solid black;
    margin: 5px 10px;
  }
}
@media (min-width: 0px) and (max-width: 480px) {
  .flex-sections2 {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-template-areas: "sections3" "sections4" "sections5";
    row-gap: 4px;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
  }
  .flex-sections2 .sections3 {
    grid-area: sections3;
    max-width: 100%;
    border: none;
    margin-top: 25px;
  }
  .flex-sections2 .sections3 img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 5px solid grey;
  }
  .flex-sections2 .sections4 {
    grid-area: sections4;
    max-width: 100%;
    border-top: 5px;
    border: none;
  }
  .flex-sections2 .sections4 img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 5px solid grey;
  }
  .flex-sections2 .sections5 {
    grid-area: sections5;
    max-width: 100%;
    border: none;
    margin-bottom: 10px;
  }
  .flex-sections2 .sections5 img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 5px solid grey;
    margin-top: 5px;
  }
  .flex-sections2 .textotarj3,
  .flex-sections2 .textotarj4,
  .flex-sections2 .textotarj5 {
    text-align: center;
    box-sizing: border-box;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    font-size: 15px;
    color: white;
    background-color: red;
    border-radius: 5px;
    border: 2px solid black;
    margin: 5px 10px;
  }
}
@media (max-width: 2000px) {
  .marcas {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: "marca1 marca2 marca3 marca4";
    column-gap: 2px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 12px;
  }
  .marcas .marca1 {
    grid-area: marca1;
    border: solid black;
  }
  .marcas .marca1 img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 3px solid grey;
  }
  .marcas .marca1 .textomarca1 {
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    color: white;
  }
  .marcas .marca2 {
    grid-area: marca2;
    border: solid black;
  }
  .marcas .marca2 img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 3px solid grey;
  }
  .marcas .marca2 .textomarca2 {
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    color: white;
  }
  .marcas .marca3 {
    grid-area: marca3;
    border: solid black;
  }
  .marcas .marca3 img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 3px solid grey;
  }
  .marcas .marca3 .textomarca3 {
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    color: white;
  }
  .marcas .marca4 {
    grid-area: marca4;
    border: solid black;
  }
  .marcas .marca4 img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 3px solid grey;
  }
  .marcas .marca4 .textomarca4 {
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    color: white;
  }
}
@media (min-width: 0px) and (max-width: 480px) {
  .marcas {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 50% auto;
    grid-template-areas: "marca1 marca2" "marca3 marca4";
    column-gap: 2px;
    row-gap: 2px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .marcas .marca1 {
    grid-area: marca1;
    border: solid black;
  }
  .marcas .marca1 img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 3px solid grey;
  }
  .marcas .marca1 .textomarca1 {
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    color: white;
  }
  .marcas .marca2 {
    grid-area: marca2;
    border: solid black;
  }
  .marcas .marca2 img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 3px solid grey;
  }
  .marcas .marca2 .textomarca2 {
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    color: white;
  }
  .marcas .marca3 {
    grid-area: marca3;
    border: solid black;
    margin-bottom: 3px;
  }
  .marcas .marca3 img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 3px solid grey;
  }
  .marcas .marca3 .textomarca3 {
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    color: white;
  }
  .marcas .marca4 {
    grid-area: marca4;
    border: solid black;
    margin-bottom: 3px;
  }
  .marcas .marca4 img {
    width: 100%;
    height: 65%;
    border-radius: 5px;
    border: 3px solid grey;
  }
  .marcas .marca4 .textomarca4 {
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    color: white;
  }
}
@media (max-width: 2000px) {
  .migaja {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .color-migaja {
    color: grey;
  }
}
@media (min-width: 0px) and (max-width: 480px) {
  .migaja {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-small;
  }
  .color-migaja {
    color: grey;
  }
}
@media (max-width: 2000px) {
  .footer-resp {
    display: none;
  }
  .footer-desktop {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2px;
  }
  .footer-desktop .cajas {
    border: solid black;
    max-width: 100%;
    padding: 2%;
  }
  .footer-desktop .icono {
    width: 30px;
    height: auto;
  }
  .footer-desktop .texto-footer {
    color: orange;
    font-family: cursive;
    font-size: small;
  }
}
@media (min-width: 0px) and (max-width: 480px) {
  .footer-desktop {
    display: none;
  }
  .footer-resp {
    position: static;
    background-color: black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer-resp .nav-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }
  .footer-resp .nav-responsive .enlace-hamburguesa {
    color: white;
  }
  .footer-resp .nav-responsive .enlace-hamburguesa:hover {
    color: orange;
  }
  .iconoss {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
  .iconosss {
    width: 50px;
    height: 50px;
  }
  .iconitos {
    height: 25px;
    width: 25px;
  }
  .text-span-resp {
    font-size: x-small;
    text-align: center;
    color: white;
  }
}
@media (max-width: 2000px) {
  .section-nosotros {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: "article-nosotros comentario";
    column-gap: 3px;
    padding-left: 3px;
    padding-right: 8.5px;
  }
  .section-nosotros .article-nosotros {
    grid-area: article-nosotros;
    border-radius: 5px;
    border: 3px solid grey;
  }
  .section-nosotros .comentario {
    grid-area: comentario;
    display: flex;
  }
  .section-nosotros .comentario .parrafo-aside {
    justify-content: center;
    align-content: center;
    padding-left: 3%;
    padding-right: 2px;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    color: white;
  }
  .section-nosotros .parrafo-nosotros {
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    color: white;
  }
}
@media (min-width: 0px) and (max-width: 480px) {
  .section-nosotros {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 70% auto;
    grid-template-areas: "article-nosotros" "comentario";
    row-gap: 3px;
    padding-left: 3px;
    padding-right: 8.5px;
  }
  .section-nosotros .article-nosotros {
    grid-area: article-nosotros;
    border-radius: 5px;
    margin-top: 5px;
    overflow: auto;
    background: linear-gradient(to top, grey 25%, white 95%);
  }
  .section-nosotros .article-nosotros .parrafo-nosotros {
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    color: black;
  }
  .section-nosotros .comentario {
    grid-area: comentario;
    border-radius: 5px;
    display: flex;
    max-height: 100%;
    text-align: center;
    justify-content: center;
    background-color: black;
  }
  .section-nosotros .comentario .parrafo-aside {
    justify-content: center;
    align-content: center;
    padding-left: 3%;
    padding-right: 2px;
    font-family: "Archivo negro";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
    color: white;
  }
}
@media (max-width: 2000px) {
  .padreImg {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "loc1 loc2";
    column-gap: 0.5px;
    padding-right: 5px;
  }
  .padreImg .loc1 {
    grid-area: loc1;
    margin-right: 2px;
    margin-bottom: 2px;
    display: inline-block;
  }
  .padreImg .loc1 .imglocal1 {
    margin-top: 5px;
    width: 49vw;
    height: 55vh;
    border-radius: 5px;
    border: 3px solid grey;
  }
  .padreImg .loc2 {
    grid-area: loc2;
    margin-left: 2px;
    margin-bottom: 2px;
    display: inline-block;
  }
  .padreImg .loc2 .imglocal2 {
    margin-top: 5px;
    width: 49vw;
    height: 55vh;
    border-radius: 5px;
    border: 3px solid grey;
  }
}
.parrafo-imagenes {
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
  font-family: "Archivo negro";
  src: url("../fonts/ArchivoBlack-Regular.ttf");
  color: white;
  background-color: red;
  height: 15vh;
  border-radius: 3px;
  margin-top: 5px;
  font-size: 15px;
}

@media (min-width: 0px) and (max-width: 480px) {
  .padreImg {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "loc1" "loc2";
    row-gap: 1px;
    padding-right: 2px;
    padding-left: 2px;
    justify-content: center;
    align-items: center;
  }
  .padreImg .loc1 {
    grid-area: loc1;
    margin-right: 2px;
    margin-bottom: 2px;
    display: inline-block;
  }
  .padreImg .loc1 .imglocal1 {
    margin-top: 5px;
    width: 100%;
    height: 55vh;
    border-radius: 5px;
    border: 3px solid grey;
  }
  .padreImg .loc2 {
    grid-area: loc2;
    margin-left: 2px;
    margin-bottom: 2px;
    display: inline-block;
  }
  .padreImg .loc2 .imglocal2 {
    margin-top: 5px;
    width: 100%;
    height: 55vh;
    border-radius: 5px;
    border: 3px solid grey;
  }
}
.parrafo-imagenesh {
  text-align: center;
  justify-content: center;
  padding-left: 3px;
  padding-right: 3px;
  font-family: "Archivo negro";
  src: url("../fonts/ArchivoBlack-Regular.ttf");
  color: white;
  height: 15vh;
  border-radius: 3px;
  margin-top: 5px;
  font-size: 15px;
}

/*variable*/
.parrafo-imageneshmyv {
  color: black;
  background: linear-gradient(to bottom, grey 3%, white 70%);
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  padding-left: 3px;
}

@media (max-width: 2000px) {
  .conteinerVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, black 35%, white 70%);
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .conteinerVideo .divV {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
  }
  .conteinerVideo .divV .video {
    width: 60vw;
    height: 50vh;
    border-radius: 15px;
  }
}
.divCO {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: "tarjO tarj1 tarj2" "tarj3 tarj4 tarj5";
  background-color: black;
  padding: 4px 4px 4px 4px;
  gap: 5px;
}
.divCO .tarjO {
  grid-area: tarjO;
  background-color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divCO .tarj1 {
  grid-area: tarj1;
  background-color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divCO .tarj2 {
  grid-area: tarj2;
  background-color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divCO .tarj3 {
  grid-area: tarj3;
  background-color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divCO .tarj4 {
  grid-area: tarj4;
  background-color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divCO .tarj5 {
  grid-area: tarj5;
  background-color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgO {
  width: 30vw;
  height: 30vh;
  border-radius: 15px;
}

.img1 {
  width: 30vw;
  height: 30vh;
  border-radius: 15px;
}

.img2 {
  width: 30vw;
  height: 30vh;
  border-radius: 15px;
}

.img3 {
  width: 30vw;
  height: 30vh;
  border-radius: 15px;
}

.img4 {
  width: 30vw;
  height: 30vh;
  border-radius: 15px;
}

.img5 {
  width: 30vw;
  height: 30vh;
  border-radius: 15px;
}

/*bucle*/
.imgO {
  border: 3px solid grey;
}

.img1 {
  border: 3px solid grey;
}

.img2 {
  border: 3px solid grey;
}

.img4 {
  border: 3px solid grey;
}

.img5 {
  border: 3px solid grey;
}

/*variable*/
.ptarjO,
.ptarj1,
.ptarj2,
.ptarj3,
.ptarj4,
.ptarj5 {
  text-align: center;
  justify-content: center;
  color: white;
}

.boton {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  background-color: red;
  color: white;
  transition: 2s ease;
}
.boton:hover {
  background-color: orange;
  width: 120px;
  color: black;
}

.conteinerbootstrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, black 15%, white 60%);
  padding: 40px 10px 10px 10px;
  gap: 10px;
}

.mi-otra-clase {
  background-color: black;
  border-radius: 15px;
}

/*variable*/
.pcolBootstrap {
  text-align: center;
  color: white;
}

@media (min-width: 0px) and (max-width: 480px) {
  .conteinerVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, orange 10%, white 70%);
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .conteinerVideo .divV {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border: 3px solid grey;
  }
  .conteinerVideo .video {
    width: 60vw;
    height: 50vh;
    border-radius: 15px;
  }
  .divCO {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "tarjO" "tarj1" "tarj2" "tarj3" "tarj4" "tarj5";
    background-color: white;
    padding: 4px 4px 4px 4px;
    gap: 5px;
    /*bucle*/
  }
  .divCO .tarjO {
    grid-area: tarjO;
    background-color: black;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .divCO .tarjO .imgO {
    width: 50vw;
    height: 30vh;
    border-radius: 15px;
    border: 3px solid grey;
  }
  .divCO .tarjO .ptarjO {
    text-align: center;
    justify-content: center;
    color: white;
    margin-top: 4px;
    background-color: rgb(54, 53, 53);
    border-radius: 3px;
    border: 1.5px solid black;
    height: auto;
  }
  .divCO .tarj1 {
    grid-area: tarj1;
    background-color: black;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .divCO .tarj1 .img1 {
    width: 50vw;
    height: 30vh;
    border-radius: 15px;
    border: 3px solid grey;
  }
  .divCO .tarj1 .ptarj1 {
    text-align: center;
    justify-content: center;
    color: white;
    margin-top: 4px;
    background-color: black;
    border-radius: 3px;
    border: 1.5px solid grey;
    height: auto;
  }
  .divCO .tarj2 {
    grid-area: tarj2;
    background-color: black;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .divCO .tarj2 .img2 {
    width: 50vw;
    height: 30vh;
    border-radius: 15px;
    border: 3px solid grey;
  }
  .divCO .tarj2 .ptarj2 {
    text-align: center;
    justify-content: center;
    color: white;
    margin-top: 4px;
    background-color: rgb(54, 53, 53);
    border-radius: 3px;
    border: 1.5px solid black;
    height: auto;
  }
  .divCO .tarj3 {
    grid-area: tarj3;
    background-color: black;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .divCO .tarj3 .img3 {
    width: 50vw;
    height: 30vh;
    border-radius: 15px;
    border: 3px solid grey;
  }
  .divCO .tarj3 .ptarj3 {
    text-align: center;
    justify-content: center;
    color: white;
    margin-top: 4px;
    background-color: black;
    border-radius: 3px;
    border: 1.5px solid grey;
    height: auto;
  }
  .divCO .tarj4 {
    grid-area: tarj4;
    background-color: black;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .divCO .tarj4 .img4 {
    width: 50vw;
    height: 30vh;
    border-radius: 15px;
    border: 3px solid grey;
  }
  .divCO .tarj4 .ptarj4 {
    text-align: center;
    justify-content: center;
    color: white;
    margin-top: 4px;
    background-color: rgb(54, 53, 53);
    border-radius: 3px;
    border: 1.5px solid black;
    height: auto;
  }
  .divCO .tarj5 {
    grid-area: tarj5;
    background-color: black;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .divCO .tarj5 .img5 {
    width: 50vw;
    height: 30vh;
    border-radius: 15px;
    border: 3px solid grey;
  }
  .divCO .tarj5 .ptarj5 {
    text-align: center;
    justify-content: center;
    color: white;
    margin-top: 4px;
    background-color: black;
    border-radius: 3px;
    border: 1.5px solid grey;
    height: auto;
  }
  .divCO .ptarjO {
    background-color: rgb(54, 53, 53);
    border-radius: 3px;
    border: 1.5px solid black;
    height: auto;
  }
  .divCO .ptarj1 {
    background-color: black;
    border-radius: 3px;
    border: 1.5px solid grey;
    height: auto;
  }
  .divCO .ptarj2 {
    background-color: rgb(54, 53, 53);
    border-radius: 3px;
    border: 1.5px solid black;
    height: auto;
  }
  .divCO .ptarj3 {
    background-color: black;
    border-radius: 3px;
    border: 1.5px solid grey;
    height: auto;
  }
  .divCO .ptarj4 {
    background-color: rgb(54, 53, 53);
    border-radius: 3px;
    border: 1.5px solid black;
    height: auto;
  }
  .divCO .ptarj5 {
    background-color: black;
    border-radius: 3px;
    border: 1.5px solid grey;
    height: auto;
  }
  .boton {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    background-color: red;
    color: white;
    transition: 2s ease;
  }
  .conteinerbootstrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, black 15%, white 60%);
    padding: 40px 10px 10px 10px;
    gap: 10px;
  }
  .mi-otra-clase {
    background-color: black;
    border-radius: 15px;
  }
  .pcolBootstrap {
    text-align: center;
    color: white;
  }
}
@media (max-width: 2000px) {
  .sectionUbi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../multimedia/cielo.jpg");
    background-size: cover;
  }
  .articleUbi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pUbi {
    text-align: center;
    padding-top: 10px;
  }
  .pUbi:hover {
    color: white;
    transition-delay: 2s;
  }
  .pUbi .mapaUbi {
    border-radius: 10px;
    height: 40vh;
    width: 80vh;
  }
  .mi-conteinerUbi {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "mi-cardUbi mi-cardUbi1";
    gap: 1px;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 5px 5px 5px;
    background: linear-gradient(to bottom, white 10%, orange 70%);
  }
  .mi-cardUbi {
    grid-area: mi-cardUbi;
    margin: 5px 5px 5px 5px;
    padding: 2px 2px 2px 2px;
  }
  .mi-cardUbi1 {
    grid-area: mi-cardUbi1;
    margin: 5px 5px 5px 5px;
    padding: 2px 2px 2px 2px;
  }
  /*bucle*/
  .mi-cardUbi {
    background-color: rgb(54, 53, 53);
  }
  .mi-cardUbi1 {
    background-color: black;
  }
  .imgUbi {
    height: 50vh;
    width: auto;
    padding: 2px 2px 2px 2px;
    border-radius: 6px;
    background-color: black;
  }
  .card-body-Ubi {
    border: none;
  }
  .mi-h5 {
    text-align: center;
    text-justify: auto;
    color: white;
  }
  .card-p-Ubi {
    text-align: center;
    color: white;
  }
  .asideUbi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, grey 10%, white 70%);
    width: 75vw;
    height: auto;
    border-radius: 3px;
    margin: 3px 3px 3px 3px;
  }
  .mi-Row-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px 2px 2px 2px;
  }
  .mi-otra-col-p {
    display: flex;
    background-color: black;
    margin: 2px 2px 2px 2px;
    border-radius: 2px;
    padding: 5px 5px 5px 5px;
  }
  .p-aside-Ubi {
    text-align: center;
    text-justify: center;
    font-size: medium;
    color: white;
    border-radius: 5px;
  }
}
@media (min-width: 0px) and (max-width: 480px) {
  .sectionUbi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../multimedia/cielo.jpg");
    background-size: cover;
  }
  .sectionUbi .articleUbi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sectionUbi .articleUbi .pUbi {
    text-align: center;
    padding-top: 10px;
    color: black;
  }
  .sectionUbi .articleUbi .mapaUbi {
    border-radius: 10px;
    height: 40vh;
    width: 40vh;
  }
  .mi-conteinerUbi {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "mi-cardUbi" "mi-cardUbi1";
    gap: 1px;
    align-items: center;
    justify-content: center;
    padding: 5px 5px 5px 5px;
    background: linear-gradient(to bottom, white 10%, orange 70%);
  }
  .mi-conteinerUbi .mi-cardUbi {
    grid-area: mi-cardUbi;
    margin: 5px 5px 5px 5px;
    padding: 2px 2px 2px 2px;
  }
  .mi-conteinerUbi .mi-cardUbi1 {
    grid-area: mi-cardUbi1;
    margin: 5px 5px 5px 5px;
    padding: 2px 2px 2px 2px;
  }
  /*bucle*/
  .mi-cardUbi {
    background-color: rgb(54, 53, 53);
  }
  .mi-cardUbi1 {
    background-color: black;
  }
  .imgUbi {
    height: 50vh;
    width: auto;
    padding: 2px 2px 2px 2px;
    border-radius: 6px;
    background-color: black;
  }
  .card-body-Ubi {
    border: none;
  }
  .mi-h5 {
    text-align: center;
    text-justify: auto;
    color: white;
  }
  .card-p-Ubi {
    text-align: center;
    color: white;
  }
  .asideUbi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, grey 10%, white 70%);
    width: 75vw;
    height: auto;
    border-radius: 3px;
    margin: 3px 3px 3px 3px;
  }
  .asideUbi .mi-Row-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px 2px 2px 2px;
  }
  .asideUbi .mi-otra-col-p {
    display: flex;
    background-color: black;
    margin: 2px 2px 2px 2px;
    border-radius: 2px;
    padding: 5px 5px 5px 5px;
  }
  .asideUbi .p-aside-Ubi {
    text-align: center;
    text-justify: center;
    font-size: medium;
    color: white;
    border-radius: 5px;
  }
}
@media (max-width: 2000px) {
  .div-contactos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  .div-contactos .p-contactos {
    margin: 5px 5px 5px 5px;
    background-color: black;
    border-radius: 3px;
    padding: 3px 3px 3px 3px;
    font-size: large;
    color: white;
  }
  .conteiner-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white(46, 45, 45);
    margin: 8px 8px 8px 8px;
    border-radius: 5px;
    background-color: burlywood;
    padding: 10px 10px 10px 10px;
  }
  .mi-btn-form {
    color: black;
    background-color: white;
    border: black;
  }
  .mi-btn-form:hover {
    background-color: cornflowerblue;
  }
  .conteiner2-cyp {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas: "caja-conteiner2 caja-conteiner3";
    gap: 5px;
  }
  .conteiner2-cyp .caja-conteiner2 {
    grid-area: caja-conteiner2;
    padding: 5px 5px 5px 5px;
    background: linear-gradient(to right, aqua 10%, white 95%);
    border-radius: 5px;
    margin: 15px 15px 20px 15px;
  }
  .conteiner2-cyp .p-conteiner2-cyp {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  @keyframes crecer {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  .conteiner2-cyp .img-container2 {
    animation: crecer 1s infinite;
  }
  .caja-conteiner3 {
    grid-area: caja-conteiner3;
    padding: 5px 5px 5px 5px;
    background: linear-gradient(to left, aqua 10%, white 95%);
    border-radius: 5px;
    margin: 15px 15px 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 480px) and (max-width: 2000px) {
  .div-contactos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  .p-contactos {
    margin: 5px 5px 5px 5px;
    background-color: black;
    border-radius: 3px;
    padding: 3px 3px 3px 3px;
    font-size: large;
    color: white;
  }
  .conteiner-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white(46, 45, 45);
    margin: 8px 8px 8px 8px;
    border-radius: 5px;
    background-color: burlywood;
    padding: 10px 10px 10px 10px;
  }
  .mi-btn-form {
    color: black;
    background-color: white;
    border: black;
  }
  .mi-btn-form:hover {
    background-color: cornflowerblue;
  }
  .conteiner2-cyp {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas: "caja-conteiner2" "caja-conteiner3";
    gap: 5px;
  }
  .caja-conteiner2 {
    grid-area: caja-conteiner2;
    padding: 5px 5px 5px 5px;
    background: linear-gradient(to right, aqua 10%, white 95%);
    border-radius: 5px;
    margin: 15px 15px 20px 15px;
    width: 100vw;
  }
  .p-conteiner2-cyp {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  @keyframes crecer {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  .img-container2 {
    animation: crecer 1s infinite;
  }
}
@media (min-width: 0px) and (max-width: 480px) {
  .caja-conteiner3 {
    grid-area: caja-conteiner3;
    padding: 5px 5px 5px 5px;
    background: linear-gradient(to left, aqua 10%, white 95%);
    border-radius: 5px;
    margin: 15px 15px 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
  }
}
@media (max-width: 2000px) {
  .main-accesibilidad {
    background: linear-gradient(to bottom, orange 25%, white 70%);
  }
  .contenedor-accesibilidad {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
  }
  .lista-accesibilidad {
    list-style-type: none;
  }
  .enlace-acces {
    color: black;
  }
  .enlace-acces:hover {
    color: grey;
  }
}
@media (min-wdith: 0px) and (max-width: 480px) {
  .main-accesibilidad {
    background: linear-gradient(to bottom, orange 25%, white 70%);
  }
  .contenedor-accesibilidad {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .lista-accesibilidad {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  .enlace-acces {
    color: black;
  }
}
/*Variables*/
@media (max-width: 2000px) {
  .body {
    background: black;
  }
  .titulo-error {
    color: orange;
    text-align: center;
  }
  .titulo-error2 {
    color: white;
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 2000px) {
  .body {
    background: black;
  }
  .titulo-error {
    color: orange;
    text-align: center;
    font-size: small;
  }
  .titulo-error2 {
    color: white;
    text-align: center;
    font-size: small;
  }
}

/*# sourceMappingURL=styles.css.map */
